/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif&family=Roboto&display=swap");

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #c0b7b1;
    --secondary-color: #403d3b;
    --accent1-color: #ca9c7d;
    --accent2-color: #403128;
    --accent3-color: #8c8681;

    /* change the values below to your chosen font(s) */
    --heading-font: "Inria Serif";
    --paragraph-font: Roboto, Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-dark-gray: #403d3b;
    /* headlines on a dark gray background */
    --headline-color-on-color: #403d3b;
    /* headlines on a colored background */
    --headline-color-on-dark-gray: #403d3b;
    /* headlines on a dark gray background */
    --paragraph-color-on-color: #403d3b;
    /* paragraph text on a colored background */
    --paragraph-background-color: #c0b7b1;
    --nav-link-color: #ca9c7d;
    --nav-background-color: #403128;
    --nav-hover-link-color: #8c8681;
    --nav-hover-background-color: #403d3b;
}

/*  Look around below...but DON'T CHANGE ANYTHING! */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #c0b7b1;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    margin: 0 auto;
    padding: 0;    
}

img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inria Serif", serif;
    color: var(--headline-color-on-white);
}

h2 {
    margin: 0;
}

hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
}

header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
    background-color: #8c8681;
}

header>h1,
header>h2 {
    color: var(--headline-color-on-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: #ca9c7d;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    background-color: #403d3b;
    color: #ca9c7d;
}

nav a,
.book,
.join,
footer a {
    text-decoration: none;
}

nav a:hover,
.book:hover,
.join:hover {
    text-decoration: underline;
}

.home-title {
    color: #403d3b;
    font-size: 2em;
}

h4 {
    color: var(--secondary-color);
}

.book,
.join {
    background-color: var(--paragraph-background-color);
    font-size: 18px;
}

.book:hover,
.join:hover {
    background-color: var(--accent1-color);
}

.msg h2 {
    color: var(--accent2-color);
}

.msg p {
    color: var(--accent2-color);
    font-size: 0.8em;
}

#background {
    height: 725px;
}

.msg {
    background-color: #ca9c7d;
    line-height: 1.5em;
}

footer {
    background-color: var(--nav-link-color);
}

footer a {
    color: var(--accent2-color);
}

footer a:hover {
    text-decoration: underline;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

.sitemap {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas:
        ". . home home . ."
        ". . . top . ."
        ". left left right right ."
        "page2 page2 . . page3 page3";
}

.sitemap>div {
    text-align: center;
}

.sm-home {
    grid-area: home;
    background-color: #ccc;
    line-height: 3em;
}

.sm-page2 {
    grid-area: page2;
    background-color: #ccc;
    line-height: 3em;
}

.sm-page3 {
    grid-area: page3;
    background-color: #ccc;
    line-height: 3em;
}

.top {
    grid-area: top;
    border-left: 1px solid;
    text-align: center;
}

.left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
    text-align: center;
}

.right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
    text-align: center;
}